<a href="https://colab.research.google.com/github/wcj365/pandas-grouping/blob/master/group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install faker

Collecting faker
  Downloading https://files.pythonhosted.org/packages/2a/6f/2a868e12996ea630a4591aa967cb934e411d94e42da12e1dd141b66d0070/Faker-4.0.2-py3-none-any.whl (1.0MB)
     |████████████████████████████████| 1.0MB 4.8MB/s
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.6/dist-packages (from faker) (2.8.1)
Requirement already satisfied: text-unidecode==1.3 in /usr/local/lib/python3.6/dist-packages (from faker) (1.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.4->faker) (1.12.0)
Installing collected packages: faker
Successfully installed faker-4.0.2

In [0]:

from random import randint
import pandas as pd
import random 
from faker import Faker
import csv

In [19]:
fake= Faker()

persons = []              # initialize a list to hold the geerated entries

column_labels =[          # attributes of a person     
    'id',
    'Name',
    "Year",
    'Gender',
    'State',
    'Count'
]

for i in range(100):  # loop through the number of entries 
                                         # generate one fake observation/person 
    person = []
    person.append(i)
    person.append(fake.name().split(" ")[0])
    person.append(str(random.randint(1990,2000)))
    person.append(random.choice(['Female' , 'Male'] ))
    person.append(fake.state())
    person.append(randint(50, 3000))

    persons.append(person)   

persons[:10]

[[0, 'Ricardo', '1990', 'Male', 'Washington', 267],
 [1, 'Patricia', '1994', 'Male', 'Georgia', 879],
 [2, 'Michelle', '1995', 'Male', 'New York', 2242],
 [3, 'Sarah', '1998', 'Female', 'Washington', 2261],
 [4, 'Kristen', '1993', 'Male', 'North Carolina', 2254],
 [5, 'Melissa', '2000', 'Female', 'South Dakota', 1092],
 [6, 'Daniel', '2000', 'Female', 'Iowa', 2913],
 [7, 'Tanya', '1999', 'Male', 'North Carolina', 1092],
 [8, 'Michael', '1998', 'Male', 'Arkansas', 614],
 [9, 'Dustin', '1992', 'Male', 'Mississippi', 197]]

In [20]:
df = pd.DataFrame(persons, columns=column_labels)
df.head()

   id      Name  Year  Gender           State  Count
0   0   Ricardo  1990    Male      Washington    267
1   1  Patricia  1994    Male         Georgia    879
2   2  Michelle  1995    Male        New York   2242
3   3     Sarah  1998  Female      Washington   2261
4   4   Kristen  1993    Male  North Carolina   2254

In [21]:
g = df.groupby(["Year","Name"]).agg({"Count":"sum"})
g

               Count
Year Name
1990 Brittany   1891
     Jeffrey      86
     Jennifer    861
     Keith      1907
     Ricardo     267
...              ...
2000 Nichole    2892
     Ryan       2085
     Samantha   2513
     Shirley    1957
     Traci      1735

[100 rows x 1 columns]

In [22]:
g2 = g.reset_index()
g2

    Year      Name  Count
0   1990  Brittany   1891
1   1990   Jeffrey     86
2   1990  Jennifer    861
3   1990     Keith   1907
4   1990   Ricardo    267
..   ...       ...    ...
95  2000   Nichole   2892
96  2000      Ryan   2085
97  2000  Samantha   2513
98  2000   Shirley   1957
99  2000     Traci   1735

[100 rows x 3 columns]